# blacklist
.DS_Store
.config/*
/*

# whitelist
!.config/
!.config/abook/
!.config/asdf/
!.config/bash/
!.config/doom/
!.config/fish/
!.config/git/
!.config/htop/
!.config/librewolf/
!.config/mozilla/
!.config/neofetch/
!.config/newsboat/
!.config/npm/
!.config/nvim/
!.config/vim/
!.config/yt-dlp/
!.editorconfig
!.gitignore
!.profile
!.zshrc
!README.md
!augustguidry.code-workspace
!brewfile
